.App{
  padding: 5px;
}

.betaText {
  background: orangered;
  color: white;
  font-size: 20px;
  text-align: center;
  align-content: center;
  padding-right:15px;
  position: absolute;
  top: 10px;
  left:-35px;
  width: 150px;
  transform: rotate(-45deg);
}
